params {
    genome = '/hpc/diaggen/users/Martin/DxNextflowRNA/hg38_genome/GRCh38.p13.genome.fa'
    gtf = '/hpc/diaggen/users/Martin/DxNextflowRNA/hg38_genome/gencode.v39.annotation.gtf'
    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}

process {
    withLabel: STAR_2_7_3a {
        cpus = 10
        memory = '50G'
        time = '6h'
        clusterOptions = "$params.cluster_options --gres=tmpspace:50G"

        publishDir {
            path = "$params.outdir/"
            mode = 'copy'
        }
    }

}


report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}


profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
    }
}
