params {
    transcripts = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome/gencode.v39.transcripts.fa'
    genome = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome/GRCh38.p13.genome.fa'
    gtf = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome/gencode.v39.annotation.gtf'
    s1 = '/hpc/diaggen/users/Behzad/bam/test_data/s1.txt'
    s2 = '/hpc/diaggen/users/Behzad/bam/test_data/s2.txt'
    vcf_infile = '/hpc/diaggen/users/Behzad/bam/test_data/test/PMABM000INO_PMCRZ629LVV_RNA-Seq_snp.vcf.gz'
    STAR_genome_index = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome'
    Genome_dict = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome/GRCh38.p13.genome.dict'
    bam_infile = '/hpc/diaggen/users/Behzad/bam/test_data/test/PMABM000INO_PMCRZ304SHHAligned.out.sorted_2.bam'
}




singularity {
           enabled = true
           runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
           autoMounts = true
           cacheDir = '/hpc/diaggen/software/singularity_cache'
}
