manifest {
    name            = 'UMCUGenetics/DxNextflowRNA'
    author          = """UMCU Genetics"""
    homePage        = 'https://github.com/UMCUGenetics/DxNextflowRNA'
    description     = """UMCU Genetics RNA Workflow"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0dev'
    doi             = ''
}

params {
    genome = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}
