params {
    transcripts = '/hpc/diaggen/users/Martin/DxNextflowRNA/hg38_genome/gencode.v39.transcripts.fa'
    genome = '/hpc/diaggen/users/Martin/DxNextflowRNA/hg38_genome/GRCh38.p13.genome.fa'
    gtf = '/hpc/diaggen/users/Martin/DxNextflowRNA/hg38_genome/gencode.v39.annotation.gtf'
    STAR_genome_index = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome'
    Genome_dict = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome/GRCh38.p13.genome.dict'
    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}
//Genome_dict = '/hpc/diaggen/users/Behzad/bam/STAR/hg38_genome/GRCh38.p13.genome.dict'
//vcf_infile = 'test.txt'
//s1 = '/hpc/diaggen/users/Martin/DxNextflowRNA/s1.txt'
//s2 = 'test.txt'
//bam_infile = 'test.txt'


process {

    withLabel: BCFtools_1_10_2 {
        cpus = 2
        memory = '16G'
        time = '2h'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: Samtools_1_10 {
        cpus = 2
        memory = '16G'
        time = '2h'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: ASEReadCounter {
        cpus = 2
        memory = '32G'
        time = '8h'
        clusterOptions = "$params.cluster_options --gres=tmpspace:16G"
    }

    withLabel: MAE {
        cpus = 2
        memory = '16G'
        time = '2h'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }



}


report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}


timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}


profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
    }
}
