params {
    outrider_reference_base = null
    outrider_refs = null
}

process {
     withName: OUTRIDER {
        cpus = 1
        memory = 3.GB
        time = 10.m
        ext.mode = { meta.level }
        ext.args = { "--mode ${meta.level}" }
        ext.prefix = { "${meta.id}_${meta.level}_${meta.panel}" }

        publishDir =  [
                   [path: "${params.outdir}/outrider/", mode: params.publish_dir_mode]
        ]
    }


}
