/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    config_profile_name = "Test Profile"
    config_profile_description = "Minimal pipeline test"

    max_cpus = 1
    max_memory = '10.GB'
    max_time = '2.h'

    seq_platform = "Illumina"
    seq_center   = "UMCU Genetics"

    publish_dir_mode = 'link'
    // References
    gencode_version_name     = "GRCh38_gencode_v44_CTAT_lib_Oct292023"
    genome_base              = "/hpc/diaggen/data/databases/ref_genomes/${params.gencode_version_name}/${params.gencode_version_name}.plug-n-play/ctat_genome_lib_build_dir"
    fasta                    = "${params.genome_base}/ref_genome.fa"
    fai                      = "${params.genome_base}/ref_genome.fa.fai"
    gtf                      = "${params.genome_base}/ref_annot.gtf"
    star_index               = "${params.genome_base}/ref_genome.fa.star.idx/"

    input = "/home/cog/jvansteenbrugge/workdir/RNA/test_data/kgp/"
    outdir = "output"
    analysis_id = "test_profile"

    // Dx_tracks references
    dx_tracks_path               = '/hpc/diaggen/software/production/Dx_tracks/'

    // Custom reference files GRCh38
    gene_bed                     = "${params.dx_tracks_path}/rna/${params.gencode_version_name}.ref_annot.gtf.bed"
    ref_flat                     = "${params.dx_tracks_path}/rna/${params.gencode_version_name}.ref_annot.gtf.refflat"
    rrna_intervals               = "${params.dx_tracks_path}/rna/GRCh38_rRNA_genbank.interval_list"

    // Reference files sortmerna
    rrna_database_manifest       = "${projectDir}/assets/sortmerna-db-default.txt"
    sortmerna_index              = "/hpc/diaggen/data/databases/sortmerna/sortmerna_index/genome/sortmerna/idx"
    sortmerna_index_versions     = "/hpc/diaggen/data/databases/sortmerna/sortmerna_index/genome/sortmerna/versions.yml"
    save_non_ribo_reads          = false

    // Tool arguments
    rseqc_modules                = "bam_stat,infer_experiment,inner_distance,junction_annotation,junction_saturation,read_distribution,read_duplication"
}


process {
    executor      = 'local'
    queue         = 'cpu'

}

includeConfig 'modules.config'
