/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    config_profile_name = "Test Profile"
    config_profile_description = "Minimal pipeline test"


    seq_platform = "Illumina"
    seq_center   = "UMCU Genetics"

    publish_dir_mode = 'link'

    outdir      = "output"
    analysis_id = "test_profile"

}


process {
    executor      = 'local'
    queue         = 'cpu'

    withName: ".*" {
        cpus   = 1
        memory = 3.GB
        time   = 10.m


    }
}
