params {
    // Input options
    input                    = null

    // References
    gencode_version_name     = "GRCh38_gencode_v44_CTAT_lib_Oct292023"
    genome_base              = "/hpc/diaggen/data/databases/ref_genomes/${params.gencode_version_name}/${params.gencode_version_name}.plug-n-play/ctat_genome_lib_build_dir"
    fasta                    = "${params.genome_base}/ref_genome.fa"
    fai                      = "${params.genome_base}/ref_genome.fa.fai"
    gtf                      = "${params.genome_base}/ref_annot_primary_assembly.basic.annotation.gtf"
    star_index               = "${params.genome_base}/ref_genome.fa.star.idx/"

    // Dx_tracks references
    dx_tracks_path               = '/hpc/diaggen/software/production/Dx_tracks/'

    // Custom reference files GRCh38
    gene_bed                     = "${params.dx_tracks_path}/rna/${params.gencode_version_name}.ref_annot.gtf.bed"
    ref_flat                     = "${params.dx_tracks_path}/rna/${params.gencode_version_name}.ref_annot.gtf.refflat"
    rrna_intervals               = "${params.dx_tracks_path}/rna/GRCh38_rRNA_genbank.interval_list"


    // Fusion config
    starfusion_ref = params.genome_base

    // Reference files sortmerna
    rrna_database_manifest       = "${projectDir}/assets/sortmerna-db-default.txt"
    sortmerna_index              = "/hpc/diaggen/data/databases/sortmerna/sortmerna_index/genome/sortmerna/idx"
    sortmerna_index_versions     = "/hpc/diaggen/data/databases/sortmerna/sortmerna_index/genome/sortmerna/versions.yml"
    save_non_ribo_reads          = false


    // Outrider configuration
    conditions = ['chx', 'ctrl']
    condition_patterns = [
        chx  : ['pluschx','chx'],
        ctrl : ['control','cntrl','ctrl']
    ]

    outrider_reference_base = "/hpc/diaggen/projects/rnaseq_outrider_DxNextflowRNA1.0.1/sample_pools/"

    outrider_refs = [
        gene: [
            chx: [
                [id: "parents", path: "${outrider_reference_base}/chx/gene_set1_parents_20250702/"],
                [id: "index",   path: "${outrider_reference_base}/chx/gene_set2_index_20250702/"],
            ],
            cntrl: [
                [id: "parents", path: "${outrider_reference_base}/cntrl/gene_set1_parents_20250702/"],
                [id: "index",   path: "${outrider_reference_base}/cntrl/gene_set2_index_20250702/"],
            ]
        ],
        exon: [
            chx: [
                [id: "parents", path: "${outrider_reference_base}/chx/exon_set1_parents_20250702/"],
                [id: "index",   path: "${outrider_reference_base}/chx/exon_set2_index_20250702/"],
            ],
            cntrl: [
                [id: "parents", path: "${outrider_reference_base}/cntrl/exon_set1_parents_20250702/"],
                [id: "index",   path: "${outrider_reference_base}/cntrl/exon_set2_index_20250702/"],
            ]
        ]
    ]

}
