/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            [path: "$params.outdir/QC/", mode: params.publish_dir_mode, pattern: '*_{fastqc.html}']
        ]
        cpus   = 2
        memory = { 8.GB   * task.attempt }
        time   = { 15.m   * task.attempt }
    }

    withName: SAMTOOLS_MERGE {
        cpus   = { 8    * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: STAR_ALIGN {
        cpus   = { 12    * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = { 1.h   * task.attempt }
        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate'
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/QC" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: SAMTOOLS_MERGE {
        ext.prefix = { "${meta.id}.markdup" }
        publishDir = [
            [path: "$params.outdir/bam_files/", mode: params.publish_dir_mode, pattern: '*.bam']
        ]
    }
    withName: SAMTOOLS_INDEX {
        ext.prefix = { "${meta.id}.markdup" }
        publishDir = [
            [path: "$params.outdir/bam_files/", mode: params.publish_dir_mode, pattern: '*.bai']
        ]
    }

    withName: SUBREAD_FEATURECOUNTS_GENE {
	    ext.prefix = { "${meta.id}.gene" }
//	    ext.args = "-g gene_id -M -J --largestOverlap --verbose --tmpDir $TMPDIR --extraAttributes gene_type,gene_name"
        ext.args = "-g gene_id -M -J --largestOverlap --verbose --extraAttributes gene_type,gene_name"
        publishDir = [
            [path: "$params.outdir/feature_counts/", mode: params.publish_dir_mode, pattern: '*featureCounts.txt*'],
        ]
//      clusterOptions = '--gres=tmpspace:5G'
    }

    withName: SUBREAD_FEATURECOUNTS_EXON {
	    ext.prefix = { "${meta.id}.exon" }
//      ext.args = "-g exon_id -M -J --largestOverlap --verbose --tmpDir $TMPDIR --extraAttributes gene_id,gene_name"
        ext.args = "-g exon_id -M -J --largestOverlap --verbose --extraAttributes gene_id,gene_name"
        publishDir = [
            [path: "$params.outdir/feature_counts/", mode: params.publish_dir_mode, pattern: '*featureCounts.txt*'],
        ]
//      clusterOptions = '--gres=tmpspace:5G'
    }

    withName: OUTRIDER_GENE {
	ext.prefix = { "${meta.id}.gene" }
        publishDir = [
            [path: "$params.outdir/outrider/", mode: params.publish_dir_mode, pattern: '*.*sv'],
            [path: "$params.outdir/outrider/", mode: params.publish_dir_mode, pattern: '*.pdf'],
        ]
        cpus   = { 8     * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withName: OUTRIDER_EXON {
	ext.prefix = { "${meta.id}.exon" }
        publishDir = [
            [path: "$params.outdir/outrider/", mode: params.publish_dir_mode, pattern: '*.*sv'],
            [path: "$params.outdir/outrider/", mode: params.publish_dir_mode, pattern: '*.pdf'],
        ]
	    cpus   = { 8     * task.attempt }
        memory = { 60.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withName: FRASER {
        ext.prefix = { "${meta.id}.fraser" }
        publishDir = [
            [path: "$params.outdir/fraser/", mode: params.publish_dir_mode, pattern: '*.*sv'],
        ]
	    cpus   = { 8     * task.attempt }
        memory = { 60.GB * task.attempt }
        time   = { 10.h   * task.attempt }
    }
}
